.grid-wrapper {
  /* Grid-Container für das gesamte Seitenlayout */
  display: grid; /* Aktiviert CSS Grid Layout */
  height: 100vh; /*Höhe des Layouts*/
  grid-template-columns: 200px 1fr; /*Zwei Spalten und restlicher Platz*/
  grid-template-rows: auto 1fr auto; /* Drei Zeilen: Header, Inhalt, Footer */
  /*definiert Anordnung der Layout-Bereiche*/
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

header {
  /* Gestaltung des Header-Bereichs */
  background-color: burlywood; /* Hintergrundfarbe */
  padding: 20px; /* Innenabstand */
  text-align: center; /* Text zentrieren */
  color: beige; /* Schriftfarbe */
  text-decoration: underline; /* Text unterstreichen */
}

main {
  /* Gestaltung von Hauptinhalt */
  text-align: left; /* Text nach links */
  color: beige; /* Schriftfarbe */
}

section {
  /* Gestaltung von allgemeinen Sections */
  margin: 0; /* Kein Außenabstand */
  background-color: burlywood; /* Hintergrundfarbe */
  min-height: 20dvh; /* Mindesthöhe */
}

footer {
  /* Footer-Gestaltung */
  text-align: center; /* Text zentrieren */
  background-color: burlywood; /* Hintergrundfarbe */
  color: beige; /* Schriftfarbe */
  padding: 5px; /* Innenabstand */
}

aside {
  /* Sidebar */
  background-color: beige; /* Hintergrundfarbe */
  color: burlywood; /* Schriftfarbe */
}

img {
  /* Allgemein Bilder */
  max-width: 13%; /* Maximale Breite des Bildes */
}

aside > nav > ul > li > a {
  /* Links in der Navigationsleiste */
  text-decoration: none; /* Text-Decoration, Unterstreichung wegnehmen */
  color: #000; /* Schriftfarbe */
  display: block; /* Erstellt Link zum Blockelemnt */
}

aside > nav > ul {
  /* Liste in der Navigationsleiste */
  list-style: none; /* Stil der Aufzählungen, enfernt Punkte */
}
